@media only screen and (max-width: 768px) {
    body {
        background: none;
    }
    .container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        overflow-y: scroll;
    }
}